/* style.css */
/* Author: Peggy Wong */
/* Co-Author: Carm Espinal, Kacy Hyndman, Tanvir Khan */
/* Date Created: Nov 12, 2021 */
/* Date Modified: Nov 12, 2021 */

/* Specify the body style */
/* Owner: Peggy Wong */
/* Date: Nov 12, 2021 */
body {
    /* Specify the margin */
    /* Source: https://www.w3schools.com/css/css_margin.asp */
    margin: 0px;
    /* Specify the background color */
    /* Source: https://www.w3schools.com/cssref/pr_background-color.asp */
    background-color: white;
    /* Specify the font */
    /* Source: https://www.w3schools.com/cssref/pr_font_font-family.asp */
    font-family: Arial, Helvetica, sans-serif;
    /* Specify the letter spacing between characters */
    /* Source: https://www.w3schools.com/cssref/pr_text_letter-spacing.asp */
    letter-spacing: 1px;
}
/* End Owner: Peggy Wong */

/* Specify the navigation bar style*/
/* Owner: Peggy Wong */
/* Date: Nov 12, 2021 */
/* Source: https://www.w3schools.com/css/css_navbar.asp and https://www.w3schools.com/css/css_navbar_horizontal.asp */
nav{
    /* Specify the background color */
    background-color: rgb(40,40,40);
    /* Fix the navigation bar to stay on top of the page */
    position: fixed;
    top: 0px;
    width: 100%;
}
ul {
    /* Remove the bullets and the browser default settings */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
li a{
    /* Display the links as block elements and have them to float next to each other */
    display: block;
    float: left;
    /* Specify the padding */
    padding: 20px;
    /* Remove the decoration of the text */
    text-decoration: none;
    /* Specify the color, the font weight, the letter spacing, and the alignment of the text */
    color: white;
    font-weight: bold;
    text-align: center;
    /* Add bottom border */
    /* Source: https://www.w3schools.com/howto/howto_css_navbar_border.asp */
    border-bottom: 5px solid transparent;
}
/* Specify the style of the link of active page so that the users are able to know which page they are on */
li a.active {
    background-color:black;
    border-bottom: 5px solid steelblue;
}
/* Specify the style of the link on hover */
li a:hover {
    background-color: rgb(25,25,25);
    border-bottom: 5px solid lightsteelblue;
}
/* End Owner: Peggy Wong */